
:root {
  --offwhite: #DEE5E5;
  --salmon: #875053;
  --darkred: #330F0A;
  --mint: #9DC5BB;
  --forest: #404E4D;
}

body {
  background-color: var(--offwhite);
}

header {
  background-color: var(--offwhite);
  box-shadow: 0px 3px 20px 5px grey;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 80px;
  color: var(--salmon);
  text-shadow: 1px 1px 2px var(--darkred);
}

h2 {
  margin: 0;
  padding: 0;
  color: var(--salmon);
  letter-spacing: 18px;
  text-shadow: 1px 1px 2px var(--darkred);
}

h1.downsize {
  font-size: 50px;
  margin-bottom: 20px;
}

.scroll {
  margin-bottom: 0;
  font-size: 20px;
  animation: bounce 2s infinite;
}

#scroll {
  position: absolute;
  bottom: 10px;
  color: var(--darkred);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust bounce height as needed */
  }
}

hr {
  color: black;
  height: 5px;
  border: none;
  box-shadow: 0px 10px 10px 10px grey;
}

input {
  display: block;
  width: 30%;
  height: 50px;

  border: none;
  border-radius: 15px;
  padding: 3px 3px 3px 10px;
  margin: 10px;

  box-shadow: 0px 0px 5px 2px grey;
}

input:focus {
  outline-color: var(--salmon);
}

button {
  background-color: var(--darkred);
  color: var(--offwhite);

  border: none;
  border-radius: 20px;
  padding: 15px 20px 15px 20px;
  margin: 0px 20px 20px 20px;
}

.App {
  /*background-color: var(--offwhite);*/
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  /*background-color: var(--offwhite);*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

